.attribution { 
    font-size: 11px; text-align: center; 
    background-color: var(--footerColor);
    margin: 0px;
    padding: 5px;
    width: 100vw;
    color: white;
  }

.attribution a { color: white;}

  :root {
      --textColor: hsl(192, 100%, 9%);
      --buttonColor: hsl(322, 100%, 66%);
      --sectionColor: #F6FbFF;
      --footerColor: hsl(192, 100%, 9%);
      --pageBorder: 100px;
  }

  * {
      box-sizing: border-box;
  }

/*===============================HEADINGS===============================*/

  header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      width: 100%;
  }

  h1, h2 {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
  }

  h1 {
      font-size: 3em;
      margin-top: 200px;
  }

  h2 {
      font-size: 2.5em;
      margin-bottom: 30px;
  }

  h3 {
      font-size: 1.7em;
      text-transform: uppercase;
      margin-top: 0px;
  }

/*===============================GENERAL BODY===============================*/

  body {
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      color: var(--textColor);
      margin: 0px;
  }

  .container {
      max-width: 1440px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding: var(--pageBorder);
      padding-bottom: 0px;
  }

/*===============================BUTTONS===============================*/

.button {
    font-weight: 600;
    border: 1px solid;
    border-radius: 200px;
    border-color: var(--buttonColor);
    color: var(--buttonColor);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    padding: 8px 30px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--buttonColor);
    color: white;
}

.button.large {
    font-weight: 700;
    background-color: var(--buttonColor);
    color: white;
    box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.2);
    font-size: 1.2em;
    padding: 25px 100px;
}

.button.form {
    background-color: var(--buttonColor);
    color: white;
    border-radius: 5px;
    font-weight: 700;
    width: calc(30%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button.large:hover, .button.form:hover {
    background-color: white;
    color: var(--buttonColor);
}

/*===============================PARAGRAPHS===============================*/

p.large {
    max-width: 620px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 1.2em;
}

p.small {
    max-width: 375px;
    text-align: left;
}

/*===============================MOCKUP IMAGE===============================*/

#mockup {
    width: 100%;
    max-width: 1030px;
    margin: 120px auto;
    display: block;
}

/*===============================STATS SECTION===============================*/

.stats {
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-bottom: 50px;
    width: 100%;
}

.stat .value {
    font-size: 6em;
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: center;
}

.stat .label {
    text-align: center;
    color: #7D8094;
    font-size: 1.5em;
}

/*===============================BODY SECTIONS===============================*/

.bodySection {
    background-color: var(--sectionColor);
    width: 100vw;
    margin-top: -5px;
    padding: 50px 0px;
}

.sectionOuter {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px var(--pageBorder);
    margin: auto;
}

.sectionOuter.align-top {
    align-items: flex-start;
}

.bodySection.reversed {
    background-color: white;
}

.bodySection.reversed .sectionOuter {
    flex-direction: row-reverse;
}

footer.bodySection {
    background-color: var(--footerColor);
}

.sectionOuter div {
    width: 50%;
    max-width: 520px;
    text-align: left;
    margin: 10px;
    margin-left: 0px;
}

.bodyImage img {
    width: 100%;
}

.waves {
    width: 100vw;
}

.mobile {
    display: none;
}

/*===============================FOOTER===============================*/

.footerWave {
    margin-top: 200px;
}

footer {
    width: 100vw;
    padding: 40px 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 0.96em;
}

.socialMedia {
    margin-top: 70px;
    font-size: 34px;
    width: 100%;
}

.icon {
    margin-right: 20px;
}

img.white {
    filter: brightness(100);
}

/*=========================SUBSCRIBE SECTION=========================*/

.subscribeInput {
    border: 1px solid transparent;
    border-radius: 5px;
    height: 44px;
    width: 100%;
    margin-right: 40px;
    font-size: 1.2em;
    padding-left: 10px;
}

.subscribeSection {
    margin-top: 40px;
    display: flex;
    min-width: 100%;
    justify-content: space-between;
}

/*===============================RESPONSIVE===============================*/

@media screen and (max-width: 900px) {
    :root {
        --pageBorder: 20px;
    }
}

@media screen and (max-width: 680px) {
    body {
        font-size: 11px;
    }

    .logo {
        max-height: 30px;
        max-width: 186px
    }

    header {
        margin: 0px;
    }

    h1 {
        margin-top: 150px;
        margin-bottom: 30px;
    }
    
/*====================================BUTTONS====================================*/

    .button {
        padding: 5px 30px;
    }

    .button.large {
        padding: 15px 50px;
    }

    .button.form {
        height: 44px;
        font-size: 1.6em;
        margin-top: 15px;
        padding: 5px 80px;
    }
    
/*================================PARAGRAPHS================================*/

    p.small {
        max-width: 1000px;
    }

    p.large {
        padding: 0px;
        margin-bottom: 50px;
        font-size: 1.3em;
    }
    
/*====================================STATS====================================*/

    .stats {
        flex-direction: column;
        width: 100%;
        font-size: 1.2em;
    }

    .stat {
        max-width: 200px;
        margin: 50px auto;
    }
    
/*===============================BODY SECTIONS===============================*/

    .sectionOuter {
        flex-direction: column-reverse;
    }

    .sectionOuter > div {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .sectionOuter div p {
        font-size: 1.5em;
    }

    .bodySection.reversed .sectionOuter {
      flex-direction: column-reverse;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

/*==================================FOOTER==================================*/
    
    footer {
        line-height: 3em;
    }

    footer .sectionOuter div:first-child {
        margin-bottom: 0px;
    }

    footer .sectionOuter div {
        text-align: left;
    }

    footer.bodySection {
        padding-bottom: 0px;
    }

    div.socialMedia {
        margin-bottom: 40px;
        margin-top: 40px;
    }  
    
/*===============================SUBSCRIBE SECTION===============================*/
    
    .subscribeSection {
        flex-direction: column;
        align-items: flex-end;
    }

    .subscribeInput {
        width: 100%;
        font-size: 1.5em;
        margin-right: 0px;
    }
    
}

@media screen and (max-width: 375px){
    .logo {
        max-height: 20px;
        max-width: 124px;
    }
    
    .button {
        padding: 5px 20px;
    }
    
    h1 {
        padding: 20px;
        margin-top: 150px;
        margin-bottom: 30px;
        font-size: 2.2em;
    }
}